Repository cse110-sp25-group19/cse110-sp25-group19: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, prettier --check

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --check"],
  "*.scss": "prettier --check"
}

chore: fix prettier check bug
  .lintstagedrc.json
Due: none

chore: reconfig precommit
  .husky/pre-commit
Due: none

chore: cleanup code with prettier
  src/js/game.js
Due: prettier --write, eslint

chore: formatting applies to entire repo
  package.json
Due: none

chore: remove 1st line
  README.md
Due: none

chore: no longer needed command
  README.md
Due: none

chore: fix typos
  README.md
Due: none

chore: add common PR issues
  README.md
Due: none

fix: reformat with prettier
  README.md
Due: none

Added card grid layout
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Card grid, ran npm prettier --write
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

matchCheck() finished
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

fix: ran npm prettier --write
  src/js/utils.js
Due: prettier --write, eslint

Create 05.23.25-ADR-Combo_detection_structure.md
  specs/adr/05.23.25-ADR-Combo_detection_structure.md
Due: none

chore: fix typo and add extra notes
  admin/cipipeline/phase1.md
Due: none

Add score display and reset button with basic logic
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

feat(backend): add resetgame functionality
  src/js/game.js
Due: prettier --write, eslint

style
  src/js/utils.js
Due: prettier --write, eslint

Create 05262025-sprint-retro.md
  admin/meetings/05262025-sprint-retro.md
Due: none

Add files via upload
  admin/meetings/05272025-sprintplanning.md
Due: none

Add files via upload
  admin/meetings/05262025-sprint_retro.md
  admin/meetings/05272025-sprintplanning.md
  admin/meetings/05302025-standup.md
Due: none

feat(backend): add combo tracking logic
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

feat(backend): add combo tracking logic
  src/js/game.js
Due: prettier --write, eslint

fix: add base href for correct resource loading
  index.html
Due: eslint, prettier --check

fix: correct base href syntax in index.html
  index.html
Due: eslint, prettier --check

fix: update meeting minutes for Sprint 3 review with correct time and agenda completion
  admin/meetings/06012025-sprint-3-review.md.md
Due: none

fix: update next meeting details in Sprint 3 review minutes
  admin/meetings/06012025-sprint-3-review.md.md
Due: none

initial test/pipeline
  src/js/utils.js
  tests/game.test.js
  tests/utils.test.js
Due: prettier --write, eslint

Fix: Prettier formatting for lint check
  README.md
  admin/meetings/230425-brainstorm.md
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Fix: Reapply Prettier formatting for linter check in PR #52
  README.md
  admin/meetings/230425-brainstorm.md
  css/styles.css
  index.html
Due: eslint, prettier --check

Test linter fix
  admin/meetings/230425-brainstorm.md
Due: none

feat: add flip animation and button style with hover/focus effects
  css/styles.css
  src/js/game.js
Due: prettier --write, eslint

fix: safetly merge score display / reset button code
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

countdown timer
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

fix: add styles to reset button and reaaply base tag
  css/styles.css
  index.html
Due: eslint, prettier --check

countdown timer formatted
  src/js/game.js
Due: prettier --write, eslint

update backend-documentation rohan
  documentation/Backend_documentation.mda
Due: none

fix: retrigger prettier check
  css/styles.css
Due: none

finished utils tests - test/pipeline
  src/js/game.js
  src/js/utils.js
  tests/game.test.js
  tests/utils.test.js
Due: prettier --write, eslint
