Repository cse110-sp25-group19/cse110-sp25-group19: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, prettier --check

finished game test/pipeline
  package-lock.json
  package.json
  src/js/game.js
  tests/game.test.js
  tests/utils.test.js
Due: prettier --write, eslint

run linter/format
  src/js/game.js
  src/js/utils.js
  tests/game.test.js
Due: prettier --write, eslint

Add files via upload
  admin/meetings/06022025-retrospective.md
Due: none

refactor: update module exports to ES6 syntax and remove base href from index.html
  index.html
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint, prettier --check

worked on game UI with flip animation and consistent styling (#55)
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Resolve merge conflicts in index.html, styles.css, game.js, and brainstorm.md
  css/styles.css
  index.html
  package-lock.json
  package.json
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Revert "game UI with flip animation and styling (#55)"
  css/styles.css
  index.html
  package-lock.json
  package.json
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Add files via upload
  admin/meetings/06042025-sprintplanning.md
Due: none

bug fix: fix import statementand token error
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

Update README.md
  README.md
Due: none

added visual effects for combos
  css/styles.css
  index.html
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint, prettier --check

bug-fix: fix start button and jest test error
  jest.config.js
  package-lock.json
  package.json
  src/js/game.js
  src/js/utils.js
  tests/game.test.js
  tests/utils.test.js
Due: prettier --write, eslint

bug-fix: fix default sum test and minor errors
  src/js/game.js
  src/js/sum.js
  tests/game.test.js
  tests/sum.test.js
Due: prettier --write, eslint

made the card flip animation smooth in game.js
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

finalized visual effects for combo
  css/styles.css
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

Fixed reset game and end screen
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

finished fixing tests
  src/js/game.js
  tests/game.test.js
Due: prettier --write, eslint

small changes for JS difficulty
  src/js/game.js
Due: prettier --write, eslint

resolves #57
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

resolves #57
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

resolves #57
  src/js/game.js
Due: prettier --write, eslint

resolves #84
  css/styles.css
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

resolves #84
  src/js/utils.js
Due: prettier --write, eslint

resolves #84
  css/styles.css
  src/js/utils.js
Due: prettier --write, eslint

added matching visual effects to cards
  css/styles.css
  src/js/game.js
  src/js/utils.js
Due: prettier --write, eslint

added matching visual effects to cards
  src/js/game.js
Due: prettier --write, eslint

feat/difficulty selector
  css/styles.css
  index.html
Due: eslint, prettier --check

feat: add high score UI to game/end screen
  css/styles.css
  index.html
Due: eslint, prettier --check

finished issue
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

high score finished
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

fixed difficulty and got rid of rules button
  index.html
Due: eslint, prettier --check

Path conditions:
  prettier --write: any of: *.js
  eslint: (any of: *.js) or (any of: *.html)
  prettier --check: (any of: *.html) or (any of: *.scss)
