Repository cse110-sp25-group19/cse110-sp25-group19: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, prettier --check

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --check"],
  "*.scss": "prettier --check"
}

add configuration to keep design files for week 2
  _config.yml
Due: none

Refactor meeting minutes and ADR documents for consistency and clarity
  admin/meetings/05232025-sprint-2-review.md
  admin/meetings/06062025-sprint-4-review.md
  specs/adr/05.27.2025-Diciding_for_ES.md
  specs/adr/06.07.2025-Deciding_for_Counter.md
Due: none

fix missing card images
  css/styles.css
Due: none

fixes card back missing
  css/styles.css
Due: none

Add high-score card and update game logic for difficulty-based scoring
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Refactor CSS and JavaScript for consistency and readability
  css/styles.css
  index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

Refactor high score retrieval to use getHighScore function for consistency
  src/js/game.js
Due: prettier --write, eslint

Fix null checks for final score and end screen messages in showEndScreen and handleTimeOut functions
  src/js/game.js
Due: prettier --write, eslint

run prettier
  src/js/game.js
Due: prettier --write, eslint

weird
  src/js/game.js
Due: prettier --write, eslint

deleted all unnecessary comments
  css/styles.css
  src/js/game.js
Due: prettier --write, eslint

Add files via upload
  admin/meetings/06082025-retrospective.md
Due: none

chore: reformat with prettier
  .esdoc.json
  .github/workflows/main.yml
  docs/ast/source/.external-ecmascript.js.json
  docs/ast/source/index.js.json
  docs/ast/source/js/game.js.json
  docs/ast/source/js/sum.js.json
  docs/ast/source/js/utils.js.json
  docs/class/src/js/utils.js~Card.html
  docs/coverage.json
  docs/css/github.css
  docs/css/identifiers.css
  docs/css/manual.css
  docs/css/prettify-tomorrow.css
  docs/css/search.css
  docs/css/source.css
  docs/css/style.css
  docs/file/src/index.js.html
  docs/file/src/js/game.js.html
  docs/file/src/js/sum.js.html
  docs/file/src/js/utils.js.html
  docs/function/index.html
  docs/identifiers.html
  docs/index.html
  docs/index.json
  docs/lint.json
  docs/script/inherited-summary.js
  docs/script/inner-link.js
  docs/script/manual.js
  docs/script/patch-for-local.js
  docs/script/prettify/prettify.js
  docs/script/pretty-print.js
  docs/script/search.js
  docs/script/search_index.js
  docs/script/test-summary.js
  docs/source.html
  docs/variable/index.html
  src/js/game.js
Due: prettier --write, eslint, prettier --check

feature: add precommit hook
  .husky/pre-commit
Due: none

Delete bak-docs directory
  bak-docs/repo-management.md
  bak-docs/sprint2/Backend/README.md
  bak-docs/sprint2/Frontend/README.md
  bak-docs/sprint2/Frontend/issue#31-JohnDeCastro.md
Due: none

fix: config precommit linter
  .lintstagedrc.json
  lint-staged.config.js
  package.json
Due: prettier --write, eslint

fix: fix linter precommit
  package.json
Due: none

fix: modify docs
  docs/ast/source/js/game.js.json
  docs/file/src/js/game.js.html
  docs/index.json
  docs/source.html
Due: eslint, prettier --check

fix: remove unnecessary docs generation
  .husky/pre-commit
Due: none

Add public and private video to README.md
  README.md
Due: none

Add public and private video links to README
  README.md
Due: none

chore: add private video items
  README.md
  difficulty_dropdown.png
  docs/pipeline_info.md
  homescreen.png
Due: none

chore: add video links
  README.md
Due: none

chore: fix links
  README.md
Due: none
